body{
  background-color:lightgray;
}
.ms-Callout-content {
    min-height: 60px;
    padding-top:10px;
}
.username {
    font-weight: bold;
}
.ms-Callout-header span.prettyDateTime {
    float:right;
}
.textarea {
    width: 90%;
    outline: 0;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #FFF;
    border-left: 5px solid #DEE2E2;
    resize: none;
    color: #777;
    overflow: auto;
    font-size: 1em;
    font-family: 'Segoe UI Semilight WestEuropean','Segoe UI Semilight','Segoe UI',Tahoma,Arial,sans-serif;
}

@media (min-width: 480px) {
    .textarea {
        width: 300px;
    }
}
